#dockWidget_leftSide {
    color: white;
    font:bold 14px "Microsoft YaHei UI";
}

#dockWidget_leftSide::title {
    background-color: #23262F;
    border-top:1px solid #444444;
    border-right:1px solid #444444;
}

#treeWidget_devices QMenu {
    background-color: #23262F;
    color: white;
}

#treeWidget_devices QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #303030;
}

#treeWidget_devices {
    color: white;
    background-image: url(:/theme/icon/left-side.png);
    background-repeat: no-repeat;
    background-position:center;
    font: 14px "Microsoft YaHei UI";
    border-right:1px solid #444444;
}

#treeWidget_devices::branch:has-siblings:!adjoins-item,
#treeWidget_devices::branch:has-siblings:adjoins-item,
#treeWidget_devices::branch:!has-children:!has-siblings:adjoins-item {
     background: transparent;
}

#treeWidget_devices::branch:closed:has-children:has-siblings {
    background-image: url(:/theme/icon/collect.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::branch:has-children:!has-siblings:closed {
    background-image: url(:/theme/icon/collect.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::branch:open:has-children:has-siblings {
    background-image: url(:/theme/icon/expand.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::branch:open:has-children:!has-siblings {
    background-image: url(:/theme/icon/expand.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices #toolButton_refresh {
    background:transparent;
}

#treeWidget_devices #toolButton_refresh:hover {
    background-color: #303030;
    border:none;
}

#treeWidget_devices::item:selected {
    background-color: #303030;
    border-left: 2px solid #2D84E5;
    color: white;
}

#widget_information {
    border-right: 1px solid #444444;
}

#dockWidget_leftSide #layout_leftSideCameraInfo {
    background-color:#191919;
}

#label_deviceName,
#label_physicalAddress,
#label_ip,
#label_mask,
#label_gateway,
#label_sensor,
#label_series,
#label_manufacturer {
    color: #7F8082;
    font: bold 14px "Microsoft YaHei UI";
}

#label_deviceName_2,
#label_physicalAddress_2,
#label_ip_2,
#label_mask_2,
#label_gateway_2,
#label_sensor_2,
#label_series_2,
#label_manufacturer_2 {
    color: white;
    font: 14px "Microsoft YaHei UI";
}
