MainWindow {
    background-color: #191919;
}

#tabWidget_preview {

}

#tabWidget_preview::pane {
    border-image: url(:/theme/icon/right-side.png);
}

#tabWidget_preview::tab-bar {
    top:0px;
}

#tabWidget_preview QTabBar::tab {
    background-color:#1C1D22;
    border-color:#1C1D22;
    color:white;
    font: bold 15px "Microsoft YaHei UI";
    width:80px;
    height:29px;
}

#tabWidget_preview QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #4D4D4D;
}

#tabWidget_preview #tab_welcome {
    background-color: #38393B;
    background-image: url(:/theme/icon/index.png);
    background-position:center;
    background-repeat: no-repeat;
}

#tabWidget_preview QGraphicsView {
    background-color: #38393B;
    background-image: url(:/theme/icon/camera-background.png);
    background-position:center;
    background-repeat: no-repeat;
}

#widget_control {
    border-image: url(:/theme/icon/bottom-side.png);
}

#widget_control QPushButton {
    border:none;
    color: #7F8082;
    font:bold 15px "Microsoft YaHei UI";
}

#widget_control QPushButton:hover {
    background-color: #303030;
}

#widget_status {
    background-color: #303030;
}

#widget_status QLabel {
    color: #7F8082;
    font: 15px "Microsoft YaHei UI";
}

#widget_status QPushButton {
    border:none;
    color: #7F8082;
}

#widget_status QPushButton:hover {
    background-color: #303030;
}
