MainWindow {
    background-color: #191919;
}

#tabWidget_preview {

}

#tabWidget_preview::pane {
    border-image: url(:/theme/icon/right-side.png);
}

#tabWidget_preview::tab-bar {
    top:0px;
}

#tabWidget_preview QTabBar::tab {

}

#tabWidget_preview QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #4D4D4D;
}

#tabWidget_preview #tab_welcome {
    background-color: #38393B;
    background-image: url(:/theme/icon/index.png);
    background-position:center;
    background-repeat: no-repeat;
    border-top:1px solid #444444;
    border-left:1px solid #444444;
}

#tabWidget_preview QGraphicsView {
    background-image: url(:/theme/icon/camera-background.png);
    background-position:center;
    background-repeat: no-repeat;
    border-top:1px solid #444444;
    border-left:1px solid #444444;
    border-right:1px solid #444444;
    border-bottom:1px solid #444444;
}


#widget_control QFrame,
#widget_status QFrame {
    color: #444444;
}


#widget_control {
    background-image: url(:/theme/icon/bottom-side.png);
    background-position:center;
    background-repeat: no-repeat;
    border-left:1px solid #444444;
    border-right:1px solid #444444;
}

#widget_control QPushButton {
    border:none;
    color: #7F8082;
    font:bold 14px "Microsoft YaHei UI";
}

#widget_control QPushButton:hover {
    background-color: #303030;
}

#widget_status {
    background-color: #303030;
    border-left:1px solid #444444;
    border-right:1px solid #444444;
}

#widget_status QLabel {
    color: #7F8082;
    font: 14px "Microsoft YaHei UI";
}

#widget_status QPushButton {
    border:none;
    color: #7F8082;
}

#widget_status QPushButton:hover {
    background-color: #303030;
}

#widget_status #label_resolution,
#widget_status #label_zoom,
#widget_status #label_frames,
#widget_status #label_displayFPS,
#widget_status #label_coordinate,
#widget_status #label_recordFPS,
#widget_status #label_temperature,
#widget_status #label_resolution,
#widget_status #label_lost,
#widget_status #label_resend,
#widget_status #label_linkSpeed,
#widget_status #label_recover,
#widget_status #label_packSize,
#widget_status #label_rgb,
#widget_status #label_brightness,
#widget_status #label_sensorFps{
    color: white;
    font: 14px "Microsoft YaHei UI";
}
