MainWindow {
    background-color: #191919;
}

MainMenu #pushButton_file,#pushButton_previewControl,#pushButton_imageSetting,#pushButton_softwareSetting,#pushButton_tool,#pushButton_help {
    font:bold 15px "Microsoft YaHei UI";
    border:none;
    color:white;
}

MainMenu #pushButton_file:hover,#pushButton_previewControl:hover,#pushButton_imageSetting:hover,#pushButton_softwareSetting:hover,#pushButton_tool:hover,#pushButton_help:hover {
    background-color: #303030;
    border-bottom: 2px solid #2D84E5;
}

MainMenu #pushButton_close {
    background:transparent;
    background-image: url(:/切图-首页/关闭.png);
    background-position:center;
    background-repeat: no-repeat;
}

MainMenu #pushButton_close:hover {
    background-color: #303030;
}

MainMenu #pushButton_maximum {
    background:transparent;
    background-image: url(:/切图-首页/页面变小.png);
    background-position:center;
    background-repeat: no-repeat;
}

MainMenu #pushButton_maximum:hover {
    background-color: #303030;
}

MainMenu #pushButton_minimum {
    background:transparent;
    background-image: url(:/切图-首页/最小化.png);
    background-position:center;
    background-repeat: no-repeat;
}

MainMenu #pushButton_minimum:hover {
    background-color: #303030;
}

MainMenu #pushButton_language {
    background:transparent;
    background-image: url(:/切图-首页/多种语言.png);
    background-position:center;
    background-repeat: no-repeat;
}

MainMenu #pushButton_language:hover {
    background-color: #303030;
}

MainMenu #widget_logo {
    background-color: #141519;
}

MainMenu #widget_logo #label_logo {
    background-image: url(:/切图-首页/LOGO.png);
    background-position:left center;
    background-repeat: no-repeat;
}

#tabWidget_preview {

}

#tabWidget_preview::pane {
    border-image: url(:/切图-首页/右边底.png);
}

#tabWidget_preview::tab-bar {
    top:0px;
}

#tabWidget_preview QTabBar::tab {
    background-color:#1C1D22;
    border-color:#1C1D22;
    color:white;
    font: bold 15px "Microsoft YaHei UI";
    width:80px;
    height:37px;
}

#tabWidget_preview QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #4D4D4D;
}

#tabWidget_preview #tab_welcome {
    background-color: #38393B;
    background-image: url(:/切图-首页/产品图.png);
    background-position:center;
    background-repeat: no-repeat;
}

#tabWidget_preview QGraphicsView {
    background-color: #38393B;
    background-image: url(:/切图-首页/相机.png);
    background-position:center;
    background-repeat: no-repeat;
}

#widget_control {
    border-image: url(:/切图-首页/下底.png);
}

#widget_control QPushButton {
    border:none;
    color: #7F8082;
    font: 15px "Microsoft YaHei UI";
}

#widget_control QPushButton:hover {
    background-color: #303030;
}

#widget_status QLabel{
    color: #7F8082;
}

#widget_status QPushButton{
    border:none;
    color: #7F8082;
}

#widget_status QPushButton:hover {
    background-color: #303030;
}

#treeWidget_devices QMenu {
    background-color: #23262F;
    border: 1px solid gray;
    color: white;
}

#treeWidget_devices QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: #303030;
}

#widget_leftSide #widget_deviceTitleBar {
    background-color: #23262F;
    border-top:1px solid #444444;
    font: bold 15px "Microsoft YaHei UI";
}

#widget_deviceTitleBar #pushButton_shrinkLeft {
    background:transparent;
    background-image: url(:/切图-首页/箭头拷贝2.png);
    background-position:center;
    background-repeat: no-repeat;
}

#widget_deviceTitleBar #label_devices {
    color: white;
    font:bold 15px "Microsoft YaHei UI";
}

#treeWidget_devices {
    border-image: url(:/切图-首页/下底.png);
    color: white;
    background-repeat: no-repeat;
    background-position:center;
    font: 15px "Microsoft YaHei UI";
}

#treeWidget_devices::branch:has-siblings:!adjoins-item,
#treeWidget_devices::branch:has-siblings:adjoins-item,
#treeWidget_devices::branch:!has-children:!has-siblings:adjoins-item {
     background: transparent;
}

#treeWidget_devices::branch:closed:has-children:has-siblings {
    background-image: url(:/切图-首页/小箭头.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::branch:has-children:!has-siblings:closed {
    background-image: url(:/切图-首页/小箭头.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::branch:open:has-children:has-siblings {
    background-image: url(:/切图-首页/下拉.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::branch:open:has-children:!has-siblings {
    background-image: url(:/切图-首页/下拉.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices #toolButton_refresh {
    background:transparent;
    background-image: url(:/切图-首页/刷新.png);
    background-position:center;
    background-repeat: no-repeat;
}

#treeWidget_devices::item:selected {
    background-color: #303030;
    border-left: 2px solid #2D84E5;
}

#widget_leftSide #layout_leftSideCameraInfo {
    background-color:#191919;
}

#widget_leftSide #layout_leftSideCameraInfo
    #label_deviceName,
    #label_physicalAddress,
    #label_ip,
    #label_mask,
    #label_gateway,
    #label_sensor,
    #label_series,
    #label_manufacturer {
    color: #7F8082;
    font: bold 15px "Microsoft YaHei UI";
}

#widget_leftSide #layout_leftSideCameraInfo
    #label_deviceName_2,
    #label_physicalAddress_2,
    #label_ip_2,
    #label_mask_2,
    #label_gateway_2,
    #label_sensor_2,
    #label_series_2,
    #label_manufacturer_2 {
    color: white;
    font: 15px "Microsoft YaHei UI";
}

#tabWidget_params QGroupBox:title {
    color:white;
}

#tabWidget_params::pane {
    border-image: url(:/切图-首页/右边底.png);
}

#tabWidget_params::tab-bar {
    top:0px;
}

#tabWidget_params QTabBar::tab {
    background-color:#1C1D22;
    border-color:#1C1D22;
    color:white;
    font: bold 15px "Microsoft YaHei UI";
    width:80px;
    height:37px;
}

#tabWidget_params QTabBar::tab:selected, QTabBar::tab:hover {
    background-color: #4D4D4D;
}

#widget_params #widget_paramsTitleBar {
    background-color: #262630;
}

#widget_params #pushButton_shrinkRight {
    background:transparent;
    background-image: url(:/切图-首页/缩进.png);
    background-position:center;
    background-repeat: no-repeat;
}

#widget_params #layout_rightSideTab0,#layout_rightSideTab1,#layout_rightSideTab2 {
    background-color: #201B22;
}

#widget_params QGroupBox,QLabel,QCheckBox {
    color: #7F8082;
    font: 15px "Microsoft YaHei UI";
}
